<h1>The first response from Open Weather Map is:</h1>
<pre>{{owm1}}</pre>
<h1>The second response from Open Weather Map is:</h1>
<pre>{{owm2}}</pre>
<h1>The first response from httpbin is:</h1>
<pre>{{httpbin1}}</pre>
<h1>The second response from httpbin is:</h1>
<pre>{{httpbin2}}</pre>
